
.volunteer-timeslots caption {font-size: 1.3em; border-bottom: 1px solid #ccc; margin-bottom: 0.5em}
.volunteer-timeslots fieldset{ margin-top: 0.5em}
input.volunteer-timeslots {margin: 0.5em 0 0.5em 0; }

